* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 12px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(163, 228, 245) 0%,
    rgb(188, 245, 197) 100%
  );
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.placar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.botao-voltar button{
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  width: 60px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  font-size: 10px;
  font-family: cursive;
  background: linear-gradient(
    90deg,
    rgb(205, 169, 255) 0%,
    rgb(255, 214, 246) 100%
  );
}

h1 {
  text-align: center;
  font-family: cursive;
}

h2 {
  text-align: center;
  font-family: Arial;
  font-size: medium;
}

hr {
  font-weight: bold;
  height: 3px;
  background: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  font-family: cursive;
  background: transparent;
}
