* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(142, 221, 240) 0%,
    rgb(188, 245, 197) 100%
  );

}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.placarX {
  top: 760px;
  left: 540px;
  border: solid;
  border-color: rgb(196, 154, 255);
}

.placarO {
  top: 760px;
  left: 1160px;
  border: solid;
  border-color: rgb(231, 163, 218);
}

.currentPlayer{
  font-size: 65;
  top: 730px;
  left: 860px;
}

.botao-voltar button{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 85px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: cursive;
  background: linear-gradient(
    90deg,
    rgb(205, 169, 255) 0%,
    rgb(255, 214, 246) 100%
  );
  border-top-color: rgb(205, 169, 255);
  border-left-color: rgb(205, 169, 255);
  border-bottom-color: white;
  border-right-color: white;
}

h1 {
  position: absolute;
  top: 170px;
  left: 820px;
  font-family: cursive;
}

h2 {
  font-size: 22px;
  font-family: cursive;
  background: transparent;
  position: absolute;
  width: 215px;
  height: 35px;
}

hr {
  height: 4px;
  background: linear-gradient(
    90deg,
    rgb(205, 169, 255) 0%,
    rgb(255, 214, 246) 100%
  );
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  border-radius: 7px;
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  font-family: cursive;
  background: transparent;
}