* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 10px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(163, 228, 245) 0%,
    rgb(188, 245, 197) 100%
  );
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.placarX {
  top: 80%;
  left: 30%;
  border: solid;
  border-color: rgb(205, 169, 255);
}

.placarO {
  top: 80%;
  left: 60%;
  border: solid;
  border-color: rgb(232, 177, 221);
}

.currentPlayer{
  font-size: 50;
  top: 77.5%;
  left: 45%;
}

.botao-voltar button{
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  width: 80px;
  height: 28px;
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
  font-family: cursive;
  background: linear-gradient(
    90deg,
    rgb(205, 169, 255) 0%,
    rgb(255, 214, 246) 100%
  );
  border-top-color: rgb(205, 169, 255);
  border-left-color: rgb(205, 169, 255);
  border-bottom-color: rgb(255, 214, 246);
  border-right-color: rgb(255, 214, 246);
}

h1 {
  text-align: center;
  font-family: cursive;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-family: cursive;
  background: transparent;
  position: absolute;
  width: 180px;
  height: 34px;
  margin: 5px;
}

hr {
  font-weight: bold;
  height: 3px;
  background: rgb(0, 0, 0);
  margin-bottom: 5px;
  border-color: black
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  font-family: cursive;
  background: transparent;
}